<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Second</title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <div id="main">
      <div class="sceneElement" data-viewport="1">
        <section class="jumbotron text-center" style="padding-bottom: 35px">
          <div class="container">
            <h1 style="margin-top: 10px;">Instruments</h1>
            <p class="lead text-muted">Select an instrument below</p>

            <!-- <a href="/" data-target="0">Home</a> -->
          </div>
        </section>
        <div class="container">
          <div class="row" id="instrument-list">
            <!-- <div class="col-2">
              <div class="card mb-4 shadow-sm instrument-card">
                <p style="margin-top: 60px">Piano</p>
              </div>
            </div>
            <div class="col-2">
              <div class="card mb-4 shadow-sm instrument-card highlighted">
                <p style="margin-top: 60px">Saxophone</p>
              </div>
            </div>
            <div class="col-2">
              <div class="card mb-4 shadow-sm instrument-card selected">
                <p style="margin-top: 60px">Guitar</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.smoothState.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/animation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/InstrumentSelect.js') }}"></script>
  </body>
</html>